{% extends 'base/base.html' %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H4>List of plants:</H4>
    {% if plant_list %}
         <h5 class="d-block w-100">  Number of plants in garden: {{ plant_list | length }}  </h5>

    {% for item in plant_list  %}
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h5 class="d-block w-100"> ----------------------------   </h5>
                    <h5 class="d-block w-100">  Name:  {{ item.name | upper }}     </h5>
                    <h5 class="d-block w-100">  Sort:  {{ item.sort }}     </h5>
                    <h5 class="d-block w-100">  Year of planting : {{ item.year }}  </h5>
                    <h5 class="d-block w-100">  Harvest average:  {{ item.harvest_quantity }} kg  </h5>
                    <img class="d-block w-100" src=" {{ item.image }}" alt="First slide">
                </div>
            </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}